@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Condensed&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
html{
  
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80%;
}
.header{
  height:10%;
  width: 100%;
  text-align: center;
  background: #394a51; 
  color: #fbf2d5;
  
}
.header-tabs{
  padding: 10px;
  margin-top: 10px;
  list-style: none;
  display: inline-flex;
  
}
.link{
  text-decoration: none;
  color: inherit; 
}
.singular-header-tab{
  padding:0 20px; 
  font-family: 'Raleway', sans-serif;
  
}

.profile{
  background: #fdc57b; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 120%;
}

.computer-icon{
  width: 120px;
}

.name{
  margin: 1rem;
  color: #353239;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
 
}
.role{
  margin: 1rem;
  color: #353239;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-family: Fira Mono;
  width: 23ch;
  animation: type 5s steps(23),
  blink 0.5s step-end infinite alternate;
  border-right: 3px solid;
}
@keyframes type {
  0% {width: 0;}
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.skills{
  height: 50%;
  text-align: center;
  background: #394a51; 
}
.col-md-12{
  display: block;
  text-align: center;
  max-width: 100%;
  padding: 1% 0;
}
.about{
  padding: 5%;
  background-color: #fbf2d5;
  
}
.row{
  margin: 20px;
}

.profile-image{
  display: block;
  margin: 0 auto;
  width: 50%;
  border-radius: 10px;
}

.about-text{

  padding: 30px;
  text-align: center;
  font-size: 1.3rem;
  width: 75%
}

.skills-section-title{
  padding-top: 2%;
  padding-bottom: 1%;
  font: 18px/24px "opensans-bold",sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color:#7fa99b;
  text-align: center;
}
.skills-icons{
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
}

.card-img{
  width: 100%;
  height: 100%;
  display: block;
}
.projects{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #fdc57b;
}
.projects-title{
  padding-bottom: 2%;
  font: 18px/24px "opensans-bold",sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color:#394a51;
  text-align: center;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
}

.card-item{
width: 20%;
padding: 5px 5px;
}
.card-inner{
  background-color:white;
border-radius: 4px;
height: 100%;
}
.card-top{
  min-height: 225px;
  padding: 10px;
  padding-bottom: 0;
}
.card-bottom{
  padding: 15px;
}
.card-category{
  text-transform: uppercase;
  text-align: center;
}
.card-info{
  max-width: 250px;
  min-height: 110px;
  padding: 15px;
  margin: 10px 0;
  border: 1px dashed black;
  
}
.card-title{
  margin-bottom: 5px;
}
.image{
  width: 100px;
  padding: 0 20px;
}

.mini-image{
  width: 100%;
}

.footer{
  margin: 0 auto;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: #394a51;
}
.footer-text{
  color: white;
  font-size: 1rem;
  margin-bottom: 10px;
}
.footer-link{
  text-decoration: none;
  color: #7fa99b;
}
.github-icon, .linkedin-icon {
  width: 40px;
}

@media (max-width: 1024px){
  .card-item{
    width: 33.3%;
    }
}