@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Condensed&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
html{
  
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80%;
}
.header{
  height:10%;
  width: 100%;
  text-align: center;
  background-color: #1f1f1f;
  color: white;
  
}
.header-tabs{
  padding: 10px;
  margin-top: 10px;
  list-style: none;
  display: inline-flex;
  
}
.link{
  text-decoration: none;
  color: inherit; 
}
.singular-header-tab{
  padding:0 20px; 
  font-family: 'Raleway', sans-serif;
  
}

.profile{
  background-color: #E9D5A1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 120%;
}

.computer-icon{
  width: 120px;
}

.name{
  margin: 1rem;
  color: #353239;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
 
}
.role{
  margin: 1rem;
  color: #353239;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-family: Fira Mono;
  width: 23ch;
  animation: type 5s steps(23),
  blink 0.5s step-end infinite alternate;
  border-right: 3px solid;
}
@keyframes type {
  0% {width: 0;}
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.skills{
  height: 400px;
  text-align: center;
  background-color: #1f1f1f;
}
.col-md-12{
  display: block;
  text-align: center;
  max-width: 100%;
  padding: 1% 0;
}
.about{
  padding: 5%;
  
}
.row{
  margin: 20px;
}

.profile-image{
  display: block;
  margin: 0 auto;
  width: 50%;
  border-radius: 10px;
}
.about-text{
  padding: 30px;
  
  text-align: center;
  font-size: 1.3rem;
  width: 75%
}

.skills-section-title{
  padding-top: 3%;
  padding-bottom: 3%;
  font: 18px/24px "opensans-bold",sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  text-align: center;
}
.skills-icons{
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
}
.image{
  width: 100px;
  padding: 0 20px;
}
.projects{
  width: 100%;
  height: 40%;
  text-align: center;
  background-color: #E9D5A1;
  font-family: 'Raleway', sans-serif;
  
}
.project{
  padding-top: 7%;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

.mini-image{
  width: 40px;
  padding: 0 10px;

}

.footer{
  padding-top: 10px;
  height: 20%;
  text-align: center;
  background-color: #E9D5A1;
}
.footer-text{
  
  font-size: 0.7rem;
  margin-bottom: 2px;
}
.github-icon, .linkedin-icon, .email-icon {
  width: 30px;
}